#!/usr/bin/make -f
# debian.rules file for rsync
# Copyright 1996 by Philip Hands.
# Copyright 2001 Colin Walters <walters@debian.org>
# Based on the  sample debian.rules file - for GNU Hello (1.3).
#   Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -g -Wall
else
  CFLAGS += -g -O2 -Wall
endif

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

clean:
	dh_testdir
	dh_testroot

	-rm -f build debian/buildtree

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	echo building build tree
	-rm -rf debian/buildtree
	mkdir debian/buildtree
	cp -p * debian/buildtree || true
	cp -r lib popt support testsuite zlib debian/buildtree
	@echo applying acl support patch
	cat patches/acls.diff | (cd debian/buildtree; patch -p1)
	@echo applying misc Debian patches
	for i in debian/patches/*.patch debian/patches/*.diff; do if [ -s $$i ]; then echo "  $$i ..."; cat $$i | (cd debian/buildtree; patch -p1) || exit 1; fi; done
	echo configuring
	(cd debian/buildtree; ./configure --prefix=/usr --mandir='$${prefix}/share/man' --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE) --disable-acl-support --disable-xattr-support)
	echo building
	$(MAKE) --directory=debian/buildtree CFLAGS="$(CFLAGS)" all
	touch build
	echo done

	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	$(MAKE) --directory=debian/buildtree install \
		prefix=`pwd`/debian/tmp/usr \
		exec_prefix=`pwd`/debian/tmp/usr

	dh_install

binary-indep:

binary-arch: install
	dh_testdir
	dh_testroot

	dh_install --list-missing
	dh_link
	dh_strip
	dh_compress	
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
